body{
    background-color: white;
    border: 1px solid black;
  }
   
  #header{
    background-color: #333333;
    color: white;
    padding:5px;
    text-align: center;
  }
  
  #footer{
    background-color: black;
    color: white;
    padding:10px;
  }
  
  #main{
    border: 1px solid white;
    border-width: 40px;
    padding: 10px;
  }

  #content{
    background-color: #f0f0f0;
  }