<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Loan Calculator</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>

  <body>
	<div id="container">
		<div id="header">
			<h1>Monthly Loan Calculator</h1>
		</div>
		
		<div id="content">
			<div id="main">
				{% block body %}


				{% endblock%}
			</div>
		</div>

		<div id="footer">
			&copy; MSCI:3300 2020 - LOAN CALCULATOR
		</div>
	</div>

 </body>

</html>