{% extends 'base.html' %}
{% block body %}

				<h2>Calculate Monthly Loan Payment</h2>
				<hr>
				
				<form action="" id= numform method="POST">  
				
				<p>
			    	<label for="loanAmount"> 
						Loan Amount: <input type="text" name="loanAmount" id="loanAmount" placeholder="amount" autofocus required>
					</label>
				</p>

				<p>
					<label for="numPayments"> 
						Number of Periodic Payments: <input type="text" name="numPayments" id= "numPayments" placeholder="payments" required>
					</label>
                </p>
                
                <p>
					<label for="intRate"> 
						Periodic Interest Rate: <input type="text" name="intRate" id= "intRate" placeholder="interest rate" required>
					</label>
                </p>
                
                <p>
					<label for="loanPay"> 
						Loan Payment: <type="number" name="loanPay" id= "loanPay"> 
					</label>
                </p>
                <p>
					<h3>{{display}}</h3>
				</p>

				<input type="submit" value="Submit">

				<input type="reset" value="Clear">
				
                </form>  


                
{% endblock %}